<div class="jumbotron bg-primary" style=''>
	<%- include ('NavBar') %>
	<h1 class="display-4">Best Transcription Services</h1>
	<p class="lead">The best transcription services of 2019</p>
	<hr class="my-4">
	<p>Here is a list of tried and true transcription services that will get your transcription needs handled quickly.</p>
</div>