	<%- include ('partials/Header') %>
	<%- include ('partials/Jumbotron') %>
	<h1>Other tested products</h1>
	<div class="center"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=rrockwel-20&language=en_US&marketplace=amazon&region=US&placement=B010QZCT5W&asins=B010QZCT5W&linkId=1c58726dd8525afbd3522d44d9ec0d65&show_border=true&link_opens_in_new_window=true"></iframe></div>
	

	<%- include ('partials/Footer') %>