	<%- include ('partials/Header') %>
	<%- include ('partials/Jumbotron') %>
	<h1>Other tested products</h1>
	<div class="row">
	<div class = 'ml-5 m-3'><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=rrockwel-20&language=en_US&marketplace=amazon&region=US&placement=B010QZCT5W&asins=B010QZCT5W&linkId=1c58726dd8525afbd3522d44d9ec0d65&show_border=true&link_opens_in_new_window=true"></iframe></div>
	<div class='m-3'><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=rrockwel-20&marketplace=amazon&region=US&placement=B073WGFLQY&asins=B073WGFLQY&linkId=ce93f3affd40c11efffa03e2b4857a69&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe></div>
    <div class="m-3"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=rrockwel-20&language=en_US&marketplace=amazon&region=US&placement=B00KH9PR48&asins=B00KH9PR48&linkId=3c241070d326a3301318a2fe536b08f6&show_border=true&link_opens_in_new_window=true"></iframe></div>
	</div>

	

	<%- include ('partials/Footer') %>