	<%- include ('partials/Header') %>
	<%- include ('partials/Jumbotron') %>

	<div class="container">
		<h5>Unfortunately, your message failed to send.</h5>
		<a href='/' class='btn btn-primary'>Home</a>
	</div>

	<%- include ('partials/Footer') %>