	<%- include ('partials/Header') %>
	<%- include ('partials/Jumbotron') %>

	<div class="container">
		<h5>Congratulations, your message has been received!</h5>
		<a href='/' class='btn btn-primary'>Home</a>

	</div>

	<%- include ('partials/Footer') %>